.background_image {
  opacity: 0.3;
  -webkit-animation-duration: 30s !important;
  animation-duration: 30s !important;
}

.black {
  background-color: black;
  color: #fff;
}

.carousel-height {
  height: 42em;
}

.card-side:first-child {
  margin-left:3em;
}

.header-style {
  text-align: center;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat rgb(29,38,42);
}

.nav-font {
  font-size: 2em !important;
}

.slide-image {
  height: 46em;
  width: 100%;
}

.social-logo {
  height: 2.5em;
  width: 2.5em;
  margin: 1em 1em 1em 0;
}
li:last-child {
  margin-right: 2em;
}

.col-box {
  margin-top: 4em;
  height: 27em;
}

.col-image {
  margin-top: 1em;
}

.col-detail {
  position: absolute;
  bottom: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.main-name {
  width: 150px;
  height: 150px;
  border: 8px solid #fff;
  padding: 42px 24px;
  font: 900 64px/50px Arial, sans-serif;
  color: #999;
}

.main-introduction {
  display: flex;
  justify-content: center;
  padding-top: 110px;
  font: normal 64px/50px Arial, sans-serif;
  color: #999;
}
p {
  height: 65px;
  float: left;
  margin-right: 0.3em;
}

b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 65px;
}

span1 {
 display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  margin-top: -10px;
  line-height: 120%;
  top: 0;
  left: 0;
  -webkit-animation: move 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
}

@keyframes move {
0%  { top: 0px; }
20% { top: -77px; }
40% { top: -155px; }
60% { top: -230px; }
80% { top: -305px; }
}
