.background_image {
  opacity: 0.3;
  -webkit-animation-duration: 30s !important;
  animation-duration: 30s !important;
}

#myCarousel {
  touch-action: none;
}

.ui-loader {
  display: none;
}

.black {
  background-color: black;
  color: #fff;
}

.carousel-height {
  height: 42em;
}

.card-side:first-child {
  margin-left:3em;
}

.header-style {
  text-align: center;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat rgb(29,38,42);
}

.nav-font {
  font-size: 2em !important;
}

.slide-image {
  height: 46em;
  width: 100%;
}

.social-logo {
  height: 2.5em;
  width: 2.5em;
  margin: 1em 1em 1em 0;
}
li:last-child {
  margin-right: 2em;
}

.col-box {
  margin-top: 4em;
  height: 27em;
}

.col-image {
  margin-top: 1em;
}

.col-detail {
  position: absolute;
  bottom: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.main-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 8px solid #fff;
  font: 900 64px Arial, sans-serif;
  color: #999;
}

.main-introduction {
  display: flex;
  justify-content: center;
  padding-top: 110px;
  font: normal 64px/50px Arial, sans-serif;
  color: #999;
}
.main-text {
  height: 65px;
  float: left;
  margin-right: 0.3em;
}

.resume-container {
  display: flex;
  justify-content: center;
}

.resume-display {
  height: 550px;
  width: 640px;
  margin-top: 2em;
}

b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 65px;
}

span1 {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  margin-top: -10px;
  line-height: 120%;
  top: 0;
  left: 0;
  -webkit-animation: move 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
}

@keyframes move {
0%  { top: 0px; }
20% { top: -77px; }
40% { top: -155px; }
60% { top: -230px; }
80% { top: -305px; }
}

@media (max-width: 766px) {
  body {
    height: 100% auto !important;
    background-color: black;
  }
  .header-style {
    margin-top:0.5em;
  }
  .carousel-inner {
    overflow-y: scroll !important;
    background-color: black;
  }
  .col-box {
    margin: 4em 5em;
    height: 26em;
  }
  .rounded-circle {
    display: block;
    margin: 0 auto;
  }
  .col-box:last-child {
    margin-bottom: 2em !important;
    height: 30em;
  }
  .nav {
    justify-content: center !important;
  }
  li:last-child {
    margin-right: -1.2em;
  }
  .main-text {
    margin-top: 3px;
  }
  .main-introduction {
    font: normal 22px/50px Arial, sans-serif;
  }
  @keyframes move {
    0%  { top: 0px; }
    20% { top: -34px; }
    40% { top: -67px; }
    60% { top: -99px; }
    80% { top: -133px; }
  }
  b {
    margin-top: 14px !important;
    height: 32px !important;
  }
  span1 {
    margin-top: -2px;
    line-height: 150%;
  }
}

@media (max-width: 375px) {
  .col-box {
    height: 30em;
  }
  .col-box:nth-child(2) {
    height: 26em;
  }
  .col-box:last-child {
    height: 34em;
  }
}

@media (min-width: 767px) and (max-width : 1024px) {
  body {
    height: 100% auto !important;
    background-color: black;
  }
  .carousel-height{
    height: 100% !important;
    width:
  }
  .col-box {
    margin: 0 5em;
  }
  .col-box:last-child {
    margin-bottom: 2em !important;
  }
  .nav {
    justify-content: center !important;
    margin-bottom: 2em;
  }
  li:last-child {
    margin-right: -1.2em;
  }
  .main-introduction {
    font: normal 43px/40px Arial, sans-serif;
    margin-top: 0.2em;
  }
  @keyframes move {
    0%  { top: 0px; }
    20% { top: -53px; }
    40% { top: -103px; }
    60% { top: -154px; }
    80% { top: -206px; }
  }
  b {
    padding-top: 12px !important;
    height: 40px !important;
  }
  span1 {
    margin-left: 10px;
    margin-top: -14px;
    line-height: 120%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    position: fixed;
  }
  .main-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    font: 900 86px Arial, sans-serif;
    color: #999;
  }
  .resume-display {
    height: 300px;
    width: 150px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .col-box {
    margin: 4em 0 0 0;
    height: 32em;
  }
  .main-name {
    margin-top: -0.4em;
    width: 200px;
    height: 200px;
    font: 900 86px Arial, sans-serif;
    color: #999;
  }
  .main-introduction {
    margin-top: -1.4em;
  }
  .resume-display {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
  }
}
